<div class="row">
  <div class="col-md-12">
    <h1>About Project Rocking Chair</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Foundations</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      In 1992, Professors Davis and Hogarth published a selected paper on 
      activities that maximize future career performance and the role of 
      business education in this process.  An update to this paper, 
      <a href="http://www.chicagobooth.edu/~/media/EF606B7FF96A464E9D42A23274E068BB.pdf">Rethinking Management Education: A View from Chicago</a>
      , was written 20 years later and 
      found that the same insights were applicable to the newest generation of 
      future business leaders.  A key takeaway, business education should focus 
      on instilling “conceptual knowledge” but also has an obligation to create 
      an environment that fosters the development of action and insight skills. 
      A View from Chicago elaborated on a previously developed framework in 
      which action skills involve “transforming the ‘mental’ decision to do 
      something into a successful, practical reality”.  Flash forward to January
      of this year, three second-year students who had come across this article
      had an idea for a way to put it into practice.
    </p>
    <p>
      We (Ben, Rafi, and Tom) sat in the famous rocking chairs around the 
      conference table in Prof. Davis’ office and floated a simple request; 
      can we take your idea and turn it into a web application.  As a group we 
      were looking to hone some newly gained skills in developing web based 
      applications using Ruby on Rails.  Our thought was that by working on a 
      single project we would be able to advance our learning and have something
      resembling a usable application at the end of the process.  The app as you
      see it now represents 11 weeks of collective effort on design, 
      development, and testing but is by no means a final product.  Our intent 
      is to have a couple groups of users commit to using the app over a ten 
      week period.  During this trial period, we will look to find anything 
      that is broken or clunky as well as analyze how the app is used to 
      determine where the most value is created for users.  The hope is that 
      after the trial period the app can be rolled out in an updated form to a 
      broader population at Chicago Booth.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>A <em>Quantified</em> View From Chicago</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Building on the work done by Prof’s Davis and Hogarth, we have a few 
      hypotheses about how the app will provide value to users.  We will look 
      to test these over the trial period and beyond to see if the data supports
      our views.
    </p>
    <ol>
      <li>
        <strong>One Repository for Feedback Data</strong> - Most people do not
        have a consistent and organized way to catalog their feedback.  
        The rocking chair app will provide a single repository for all feedback 
        data.
      </li>
      <li>
        <strong>Quantitative and Qualitative Data</strong> - While people may 
        take physical &#92; digital &#92; mental notes about the feedback they 
        receive there is usually not a ranking applied to it which can obscure 
        trends or groupings in the information. By pairing a ranking with a 
        small snippet of text the user can easily call out these trends in 
        addition to searching by keywords and feedback providers.
      </li>
      <li>
        <strong>Feedback is tied to specific interactions</strong> - We have 
        all been through annual reviews both as a reviewer and the one being 
        reviewed.  It is a time consuming process and often keys in on the 
        interactions that stand out the most, for better or worse.  Often it is 
        difficult to pinpoint exactly what interaction is being discussed which 
        makes the learning hard to internalize.  The core of the rocking chair 
        app is interactions, which can be anything from a client presentation 
        to a coffee chat.  By tying all points of feedback to specific 
        interactions, the user can hone in on exact behaviors that are being 
        discussed.  We believe this matches up with the spirit of Davis and 
        Hogarth when they say, “feedback should be specific and closely follow 
        day-to-day decisions and actions”.
      </li>
      <li>
        <strong>Focusing on “action skills” can help build “insight skills”</strong>
        - The overall goal is to help create “insight skills” which allow a 
        person to draw insights from their day to day interactions that lead to 
        changes in their future behavior.  We do not believe that these skills 
        can be directly measured, nor should they be.  By having each user 
        focus on “action skills”, which in turn drive actions and outcomes, when
        requesting feedback we can help the user build “insight skills” to make 
        sense of all the data they are collecting.
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Thank You and Enjoy</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Thanks to all of those who have helped us along the way with your support 
      and advice, this app would not be possible without you.  We also would 
      like to say thank you to all current and future users, without you an app 
      is just another web page, your use and your data is what brings it to 
      life.  If you need to reach out with any feedback or comments, please see 
      the contact page.
    </p>
  </div>
</div>