<div class="row">
  <div class="col-md-12">
    <h1>Contact Us</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Please reach out to us via our Booth email addresses. We are currently 
      in the process of getting our transactional email working and will update
      this page when it is available.
    </p>
  </div>
</div>