<footer class="footer">
  <small>
    The Rocking Chair feedback app brought to you by Ben, Rafi, and Tom.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>